@model CustomerRelations.Models.Customer

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset style="width:700px;">
        <legend>Edit Customer</legend>
        
         <div style="width: 300px; float:left; margin:20px">
            <div class="editor-label">
                @Html.LabelFor(model => model.FirstName)
                @Html.HiddenFor(model => model.CustomerId)
                @Html.HiddenFor(model => model.UserId)
            </div>
            <div class="editor-field">
                @Html.EditorFor(model => model.FirstName)
                @Html.ValidationMessageFor(model => model.FirstName)
            </div>

            <div class="editor-label">
                @Html.LabelFor(model => model.LastName)
            </div>
            <div class="editor-field">
                @Html.EditorFor(model => model.LastName)
                @Html.ValidationMessageFor(model => model.LastName)
            </div>

            <div class="editor-label">
                @Html.LabelFor(model => model.EMail)
            </div>
            <div class="editor-field">
                @Html.EditorFor(model => model.EMail)
                @Html.ValidationMessageFor(model => model.EMail)
            </div>

            <div class="editor-label">
                @Html.LabelFor(model => model.AddressLine1)
            </div>
            <div class="editor-field">
                @Html.EditorFor(model => model.AddressLine1)
                @Html.ValidationMessageFor(model => model.AddressLine1)
            </div>

            <div class="editor-label">
                @Html.LabelFor(model => model.AddressLine2)
            </div>
            <div class="editor-field">
                @Html.EditorFor(model => model.AddressLine2)
                @Html.ValidationMessageFor(model => model.AddressLine2)
            </div>

            <div class="editor-label">
                @Html.LabelFor(model => model.City)
            </div>
            <div class="editor-field">
                @Html.EditorFor(model => model.City)
                @Html.ValidationMessageFor(model => model.City)
            </div>

            <div class="editor-label">
                @Html.LabelFor(model => model.State)
            </div>
            <div class="editor-field">
                @Html.EditorFor(model => model.State)
                @Html.ValidationMessageFor(model => model.State)
            </div>

            <div class="editor-label">
                @Html.LabelFor(model => model.Telephone)
            </div>
            <div class="editor-field">
                @Html.EditorFor(model => model.Telephone)
                @Html.ValidationMessageFor(model => model.Telephone)
            </div>

            <div class="editor-label">
                @Html.LabelFor(model => model.ZipCode)
            </div>
            <div class="editor-field">
                @Html.EditorFor(model => model.ZipCode)
                @Html.ValidationMessageFor(model => model.ZipCode)
            </div>
        </div>
        
        <div style="width: 300px; float:left; margin:20px">
            
            Notes
            @{
                var custNotes = "";
                if (Model != null && Model.CustomerNotes != null)
                {
                    foreach (var note in Model.CustomerNotes)
                    {

                        custNotes = String.Concat(custNotes, "\n", note.NoteText);
                    }
                }
             }
            <div>
                @custNotes
            </div>
            <br/>
            <div class="editor-label">
                @Html.Label("Add New Note")
            </div>
            
            <div class="editor-field">         
                @Html.TextArea("custNote", new {rows = "7", cols = "36"})
            </div> 
            <p>
                <input type="submit" value="Save" />
                <span style="padding-left:20px;"> @Html.ActionLink("Back", "Index")</span>
            </p>
        </div>
    </fieldset>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
