@model CustomerRelations.Models.UserProfile

@{
    ViewBag.Title = "Register";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@using (Html.BeginForm())
{
    @Html.ValidationSummary(true, "Registeration Failed, fields.");
    <div>
        <fieldset style="width:400px;">
            <legend>Register</legend>
            <div class="editor-label">@Html.LabelFor(u => u.UserName)</div>
            <div class="editor-field">@Html.TextBoxFor(u => u.UserName)
                @Html.ValidationMessageFor(u => u.UserName)
            </div>
            <div class="editor-label">@Html.LabelFor(u => u.Password)</div>
            <div class="editor-field">@Html.PasswordFor(u => u.Password)
                @Html.ValidationMessageFor(u => u.Password)
            </div>
            <div class="editor-label">@Html.LabelFor(u => u.Email)</div>
            <div class="editor-field">@Html.TextBoxFor(u => u.Email)
                @Html.ValidationMessageFor(u => u.Email)
            </div>
            <div class="editor-label">@Html.LabelFor(u => u.FirstName)</div>
            <div class="editor-field">@Html.TextBoxFor(u => u.FirstName)
                @Html.ValidationMessageFor(u => u.FirstName)
            </div>
             <div class="editor-label">@Html.LabelFor(u => u.LastName)</div>
            <div class="editor-field">@Html.TextBoxFor(u => u.LastName)
                @Html.ValidationMessageFor(u => u.LastName)
            </div>
            <br/>
            <input type="submit" value="Register" />
            <br/>
        </fieldset>
    </div>
}

